*{
    margin:0;
    padding:0;
}



                                        /* header */
.navbar{
    height:15vh;
    background-color: rgb(16, 16, 82);
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    height:10vh;
    width:8vh;
    background-image: url("logo.png");
    background-size: cover;
    margin-left: 40px;
}
.iitrlogo{
    height:10vh;
    width:10vh;
    background-image: url("iitrlogo.png");
    background-size: cover;
    margin-right: 40px;
}
.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:34vw;
    margin-top: 28px;
}
.nav{
    height:10vh;
    
}
.nav a{
    font-size: 20px;
    text-decoration: none;
    color:white;
}



                                   /* hero section */
.hero{
    height:100vh;
    display:block;
    background-image: url("first.jpg");
    background-size: cover;
}


                                    /* about */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height:8vh;
    margin-top: 30px;
}
.btn button{
    background-color: rgb(15, 15, 90);
    color:white;
    border-radius: 20px;
    padding:10px;
    font-size: 20px;
}
.about{
    height:100vh;
    display:flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.photo{
    height:105vh;
    width:80vh;
    background-image: url("second.jpg");
    background-size: cover;
    border:2px solid black;
    margin-left: 15px;
    border-radius: 10px;
}
.text{
    width:100vh;
    height:100vh;
    margin-top: 10px;
}
.content{
    font-size:30px;
    margin-top: 10px;
}
.heading{
    font-size: 45px;
    font-style: italic;
    font-family: sans-serif;
}
.styledline{
    height: 4px;
    width:120px;
    background-color: black;
    margin-left:500px;
}
.btn2 button{
    margin-top: 10px;
    width:9vw;
    height:6vh;
    border-radius: 5px;
    font-size: 15px;
    padding:5px;
    color: white;
    background-color: rgb(19, 19, 101);
}
.btn3{
    display: flex;
    justify-content: center;
    align-items: center;
    height:8vh;
    margin-top:20px;
    
}
.next{
    margin-top: 80px;
}
.btn3 button{
    margin-top: 20px;
    width:13vw;
    height:6vh;
    border-radius: 20px;
    font-size: 20px;
    padding:5px;
    color: white;
    background-color: rgb(19, 19, 101);
}
.aimcontent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:200px;
    margin-top: 20px;
}
.box{
    height:200px;
    width:300px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211,0.5);
}
.aimcontent{
    margin-top: 50px;
}
.aimcontent .box1{
    background-image: url("Pledge.png");
    height:40vh;
    width:70vh;
    background-size: cover;
    margin-top: 50px;
    border:2px solid black;
    border-radius: 5px;
}
.pledge{
    height:200px;
    width:500px;
    margin-top: 100px;
    font-size: 18px;
}
.song{
    margin-top: 200px;
    background-image:url("texture.jpg");
    background-size: cover;
    height:90vh;


}
.song .content1{
    margin-top: 15px;
    text-align: center !important;
    margin-right:158px;
    font-size: 17px;
    font-family:Lato,sans-serif;

}
.recent{
    height:60vh;
    margin-top: 30px;
}
.recent .btn4{
    display: flex;
    justify-content: center;
    align-items: center;

}
.recent .btn4 button{
    width:24vw;
    height:6vh;
    background-color: rgb(19, 19, 101);
    color:white;
    border-radius: 20px;
    font-size: 20px;

}
.boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.boxe{
    height:200px;
    width:400px;
    border:3px solid #ccc;
    border-radius: 5px;

}
.box3{
    height:250px;
    width:500px;
    border:3px solid #ccc;
    border-radius: 5px;

}
                                   

                            /* footer */

.contact{
    height:70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(19, 19, 101) ;
}
.about1{
    height:60vh;
    width:70vh;
    margin-left: 20px;
}
.about1 .logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:20vh;
    width:50vh;
}
.logo1{
    background-image: url("logo.png");
    height:8vh;
    width:8vh;
    background-size: cover;
}
.logo2{
    background-image: url("iitrlogo.png");
    height:8vh;
    width:8vh;
    background-size: cover;
}
#ncc{
    color:white;
    font-size: 25px;
}
.para{
    color:white;
    width:50vh;
    font-size:20px;
    text-align: justify;
}
.imp{
    height:40vh;
    width:50vh;
    color:white;
}
.link2 ul{
    list-style-type: none;
    font-size: 25px;
}
.link2 ul li{
    margin-bottom: 8px;
}
.heading2{
    height:50px;
}
.lastnav{
    background-color: rgb(13, 13, 50);
    height:10vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    color:white;
    font-size:18px;
    margin-left:50px;
}
.site{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:10vh;
    color:rgb(163, 152, 152);
    width:50vh;
}
